<h1> Your animal is a(n) <%=animal.color%>, <%=animal.pattern%> <%=animal.classification%> with <%=animal.feature%></h1>


<form method='GET' action='/'>
	<button>
		I want a new animal!
	</button>
</form>